@model ShopKhanh.Web.Models.FooterViewModel


<div class="footer">
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-4 hidden-sm hidden-xs">
                    <div class="subscribe">
                        <div class="subscribe-inner">
                            <h3>Sign up for newsletter</h3>
                            Duis autem vel eum iriureDuis autem vel eum
                        </div>
                    </div>
                </div>
                <div class="col-md-5 col-sm-8">
                    <form method="post" class="form-inline form-subscribe">
                        <div class="form-group">
                            <input type="text" class="form-control" id="newsletter" name="email">
                        </div>
                        <button class="btn btn-danger" title="Subscribe" type="submit">Subscribe</button>
                    </form>
                </div>
                <div class="col-md-3 col-sm-4">
                    <ul class="social">
                        <li><a href="#" class="face">face</a></li>
                        <li><a href="#" class="google">google</a></li>
                        <li><a href="#" class="twitter">twitter</a></li>
                        <li><a href="#" class="youtube">youtube</a></li>
                        <li><a href="#" class="linkedin">linkedin</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div><!-- /.footer-top -->
    <div class="footer-middle">
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <div class="footer-title">
                        <h2>contact us</h2>
                    </div>
                    <div class="footer-content">
                        @*@Html.Raw(Model.Content)*@
                </div>
   
            </div>
        </div>
    </div>

</div>
