<div class="row">
    <div class="col-md-3">
        <a href="index.html" class="logo"><img src="~/Assets/client/images/logo.png" alt=""></a>
    </div>
    <div class="col-md-9">
        <div class="support-client">
            <div class="row">
                <div class="col-sm-4">
                    <div class="box-container time">
                        <div class="box-inner">
                            <h2>working time</h2>
                            <p>Mon- Sun: 8.00 - 18.00</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="box-container free-shipping">
                        <div class="box-inner">
                            <h2>Free shipping</h2>
                            <p>On order over $199</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="box-container money-back">
                        <div class="box-inner">
                            <h2>Money back 100%</h2>
                            <p>Within 30 Days after delivery</p>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- /.support-client -->
        <form class="form-search">
            <input type="text" class="input-text" name="q" id="search" placeholder="Search products...">
            <div class="dropdown">
                <button type="button" class="btn" data-toggle="dropdown">All category <span class="fa fa-angle-down"></span></button>
                <ul class="dropdown-menu dropdown-menu-right">
                    <li><a href="#">Computer</a></li>
                    <li><a href="#">Camera</a></li>
                    <li><a href="#">Smart Phone</a></li>
                    <li><a href="#">Electronic</a></li>
                </ul>
            </div>
            <button type="submit" class="btn btn-danger"><span class="fa fa-search"></span></button>
        </form>
        <div class="mini-cart">
            <div class="top-cart-title">
                <a href="/gio-hang.html" class="dropdown-toggle" data-toggle="dropdown">
                    Giỏ hàng của bạn
                    <span class="price">$45.00</span>
                </a>
                <div class="dropdown-menu dropdown-menu-right">
                    <div class="cart-listing">
                        <div class="media">
                            <div class="media-left"><a href="#"><img src="~/Assets/client/images/products/11.jpg" alt="" class="img-responsive"></a></div>
                            <div class="media-body">
                                <button type="button" class="remove-cart-item">&times;</button>
                                <h4>Accumsan elit</h4>
                                <div class="mini-cart-qty">Qty:2</div>
                                <div class="mini-cart-price">$ 64.00</div>
                            </div>
                        </div>
                        <div class="media">
                            <div class="media-left"><a href="#"><img src="~/Assets/client/images/products/13.jpg" class="img-responsive" alt=""></a></div>
                            <div class="media-body">
                                <button type="button" class="remove-cart-item">&times;</button>
                                <h4>Accumsan elit</h4>
                                <div class="mini-cart-qty">Qty:2</div>
                                <div class="mini-cart-price">$ 64.00</div>
                            </div>
                        </div>
                    </div><!-- /.cart-listing -->
                    <div class="mini-cart-subtotal">Shipping: <span class="price">$5.00</span></div>
                    <div class="mini-cart-subtotal">Total: <span class="price">$200.00</span></div>
                    <div class="checkout-btn">
                        <a href="#" class="btn btn-default btn-md fwb">CHECK OUT</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>