
<div class="topbar">
    <div class="container">
        <div class="topbar-left">
            <ul class="topbar-nav clearfix">
                <li><span class="phone">0(123) 456 789</span></li>
                <li><span class="email">info@plazathemes.com</span></li>
            </ul>
        </div>
        <div class="topbar-right">
            <ul class="topbar-nav clearfix">
                <li><a href="/dang-nhap.html" class="login">Đăng nhập</a></li>
                <li><a href="/dang-ky.html" class="login">Đăng ký</a></li>
                <li class="dropdown">
                    <a href="#" class="account dropdown-toggle" data-toggle="dropdown">Tài khoản của  bạn</a>
                 
                </li>
                <li class="dropdown">
                    <a href="#" class="currency dropdown-toggle" data-toggle="dropdown">Tiền tệ</a>
                    <ul class="dropdown-menu dropdown-menu-right">
                        <li><a href="#">Euro</a></li>
                        <li><a href="#">US Dollar</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="language dropdown-toggle" data-toggle="dropdown"><img src="~/Assets/client/images/flag-us.png" alt=""> English</a>
                    <ul class="dropdown-menu dropdown-menu-right">
                        <li><a href="#"><img src="~/Assets/client/images/flag-us.png" alt=""> &nbsp;English</a></li>
                        <li><a href="#"><img src="~/Assets/client/images/flag-spain.png" alt=""> &nbsp;Spanish</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div><!-- /.container -->
</div>