<appSettings>
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  <add key="PageSize" value="12"/>
  <add key="MaxPage" value="5"/>
  
  <add key="SMTPHost" value="smtp.gmail.com"/>
  <add key="SMTPPort" value="587"/>
  <add key="FromEmailAddress" value="duykhanhkontum123@gmail.com"/>
  <add key="FromEmailPassword" value="duykhanh"/>
  <add key="FromName" value="SHOP KHANH"/>
  <add key="AdminEmail" value="khanhkyovodoi27@gmail.com"/>
  <add key="CurrentLink" value="http://localhost:50171/"/>
  
</appSettings>